{
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 100,
  "editor.tabSize": 2,
  "semi": true,
  "htmlWhitespaceSensitivity": "css",
  "overrides": [
    {
      "files": ".prettierrc",
      "options": {
        "parser": "json"
      }
    }
  ]
}