.menu {
  font-size: 16px;
  font-weight: 500;
  color: #666;
  li {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    a {
      display: block;
      width: 100%;
    }
  }

  .parent {
    &:hover {
      background-color: transparent;
    }
  }

  .submenu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.8s ease-in-out;
    li {
      margin-top: 10px;
      &:hover {
        color: #fff;
      }
    }
    &.open {
      max-height: 500px;
    }
  }

  .selected {
    background: #b688f5;
  }
}
