@font-face {
  font-family: "iconfont"; /* Project id 4740741 */
  src: url('iconfont.woff2?t=1732715393564') format('woff2'),
       url('iconfont.woff?t=1732715393564') format('woff'),
       url('iconfont.ttf?t=1732715393564') format('truetype'),
       url('iconfont.svg?t=1732715393564#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-language-en:before {
  content: "\e709";
}

.icon-language-zh:before {
  content: "\e601";
}

.icon-yonghu:before {
  content: "\e6aa";
}

.icon-tuichu:before {
  content: "\e651";
}

.icon-lanmuzhankai:before {
  content: "\e61e";
}

.icon-lanmushouqi:before {
  content: "\e61f";
}

