.breadcrumb {
  display: flex;
  align-items: center;
  .breadcrumb-item {
    color: var(--color-primary-text);
    &.active {
      color: #fff;
    }
  }
  .breadcrumb-item + .breadcrumb-item::before {
    content: '/';
    padding: 0 8px;
    color: var(--color-primary-text);
  }
}
