@import '@/styles/global.scss';

.page-panel {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  .page-container {
    min-height: 100vh;
    display: flex;
    .sliders {
      display: flex;
      flex-direction: column;
      position: relative;
      flex-basis: 17%;
      border-right: 1px solid #ccc;
      box-shadow: 0px 5px 20px 3px rgba(51, 51, 51, 0.7);
      .logo-box {
        background: var(--main-color);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        text-align: center;
        border-bottom: 1px solid #ccc;
        .logo-text {
          margin-left: 10px;
        }
      }
      .menu {
        overflow-y: scroll;
        height: 100%;
        padding: 6px 0 6px 6px;
      }
    }
    .content {
      overflow-y: scroll;
      flex: 1;

      .header {
        background: var(--main-color);
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #ccc;
        .info-box {
          display: flex;
          align-items: center;
          .user {
            display: flex;
            align-items: center;
            margin-right: 12px;
            position: relative;
            .name {
              margin-left: 4px;
            }
            &::after {
              content: '|';
              position: absolute;
              right: -8px;
            }
          }
        }
      }
    }
    // 滚动条样式
    .menu::-webkit-scrollbar,
    .content::-webkit-scrollbar {
      width: 6px;
    }
    .menu::-webkit-scrollbar-track,
    .content::-webkit-scrollbar-track {
      background: #f1f1f1;
    }
    .menu::-webkit-scrollbar-thumb,
    .content::-webkit-scrollbar-thumb {
      background-color: #ddd;
      border-radius: 2px;
    }
    .menu::-webkit-scrollbar-thumb:hover,
    .content::-webkit-scrollbar-thumb:hover {
      background-color: #bbb;
    }
  }
}
